openapi: 3.0.3
info:
  contact:
    email: office@opcfoundation.org
  description: This is API to access an OPC UA NodeSet.
  license:
    name: MIT
    url: https://opcfoundation.org/license/mit.html
  title: OPC UA NodeSet
  version: 1.0.0
externalDocs:
  description: Find out more about OPC UA
  url: https://reference.opcfoundation.org/
servers:
- url: https://webapi.opcfoundation.org/api/nodeset
paths:
  /get:
    get:
      operationId: get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UANodeSet'
          description: Success
        "404":
          description: NodeSet not found
components:
  schemas:
    UANodeSet:
      example:
        FileSet:
          Last: 39072
          Current: 9606
        Models:
        - PublicationDate: 2000-01-23
          DefaultAccessRestrictions: 343953088
          RequiredModels:
          - PublicationDate: 2000-01-23
            Version: Version
            ModelUri: ModelUri
            XmlSchemaUri: XmlSchemaUri
            ModelVersion: ModelVersion
          - PublicationDate: 2000-01-23
            Version: Version
            ModelUri: ModelUri
            XmlSchemaUri: XmlSchemaUri
            ModelVersion: ModelVersion
          Version: Version
          ModelUri: ModelUri
          XmlSchemaUri: XmlSchemaUri
          ModelVersion: ModelVersion
          DefaultRolePermissions:
          - Permissions: 2588772718
            RoleId: RoleId
          - Permissions: 2588772718
            RoleId: RoleId
        - PublicationDate: 2000-01-23
          DefaultAccessRestrictions: 343953088
          RequiredModels:
          - PublicationDate: 2000-01-23
            Version: Version
            ModelUri: ModelUri
            XmlSchemaUri: XmlSchemaUri
            ModelVersion: ModelVersion
          - PublicationDate: 2000-01-23
            Version: Version
            ModelUri: ModelUri
            XmlSchemaUri: XmlSchemaUri
            ModelVersion: ModelVersion
          Version: Version
          ModelUri: ModelUri
          XmlSchemaUri: XmlSchemaUri
          ModelVersion: ModelVersion
          DefaultRolePermissions:
          - Permissions: 2588772718
            RoleId: RoleId
          - Permissions: 2588772718
            RoleId: RoleId
        Nodes:
          N3VariableTypes:
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            Documentation: Documentation
            AccessRestrictions: 2765281859
            SymbolicName: SymbolicName
            WriteMask: 3873351052
            ValueRank: 3
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            Value:
              Value: ""
              Dimensions:
              - 0
              - 0
              UaType: 31
            ArrayDimensions: ArrayDimensions
            ReleaseStatus: null
            DataType: DataType
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            Documentation: Documentation
            AccessRestrictions: 2765281859
            SymbolicName: SymbolicName
            WriteMask: 3873351052
            ValueRank: 3
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            Value:
              Value: ""
              Dimensions:
              - 0
              - 0
              UaType: 31
            ArrayDimensions: ArrayDimensions
            ReleaseStatus: null
            DataType: DataType
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          N4ObjectTypes:
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            Documentation: Documentation
            AccessRestrictions: 551756841
            SymbolicName: SymbolicName
            WriteMask: 2991495272
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ReleaseStatus: null
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            Documentation: Documentation
            AccessRestrictions: 551756841
            SymbolicName: SymbolicName
            WriteMask: 2991495272
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ReleaseStatus: null
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          N8Views:
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            ContainsNoLoops: true
            Documentation: Documentation
            AccessRestrictions: 2911268403
            SymbolicName: SymbolicName
            WriteMask: 1238738201
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            EventNotifier: 175
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ReleaseStatus: null
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            ContainsNoLoops: true
            Documentation: Documentation
            AccessRestrictions: 2911268403
            SymbolicName: SymbolicName
            WriteMask: 1238738201
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            EventNotifier: 175
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ReleaseStatus: null
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              Methods:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 2132545104
                Arguments:
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                - DisplayName:
                    r:
                    - - r
                      - r
                    - - r
                      - r
                    t:
                    - - t
                      - t
                    - - t
                      - t
                  Name: Name
                MethodDeclarationId: MethodDeclarationId
                SymbolicName: SymbolicName
                WriteMask: 503831554
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                Executable: true
                IsAbstract: true
            ModellingRuleId: ModellingRuleId
            IsAbstract: true
          N5Variables:
          - RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            AccessRestrictions: 3172383940
            SymbolicName: SymbolicName
            WriteMask: 1780525091
            ValueRank: 1
            NodeClass: null
            MinimumSamplingInterval: 7.457744773683766
            HasNoPermissions: true
            BrowseName: BrowseName
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ArrayDimensions: ArrayDimensions
            Historizing: true
            ReleaseStatus: null
            DataType: DataType
            Children: null
            IsAbstract: true
            ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            Documentation: Documentation
            AccessLevel: 2940700841
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            NodeId: NodeId
            Value:
              Value: ""
              Dimensions:
              - 0
              - 0
              UaType: 31
            ModellingRuleId: ModellingRuleId
          - RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            AccessRestrictions: 3172383940
            SymbolicName: SymbolicName
            WriteMask: 1780525091
            ValueRank: 1
            NodeClass: null
            MinimumSamplingInterval: 7.457744773683766
            HasNoPermissions: true
            BrowseName: BrowseName
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ArrayDimensions: ArrayDimensions
            Historizing: true
            ReleaseStatus: null
            DataType: DataType
            Children: null
            IsAbstract: true
            ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            Documentation: Documentation
            AccessLevel: 2940700841
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            NodeId: NodeId
            Value:
              Value: ""
              Dimensions:
              - 0
              - 0
              UaType: 31
            ModellingRuleId: ModellingRuleId
          N2DataTypes:
          - ParentId: ParentId
            ConformationUnits:
            - ConformationUnits
            - ConformationUnits
            TypeId: TypeId
            RolePermissions:
            - Permissions: 2588772718
              RoleId: RoleId
            - Permissions: 2588772718
              RoleId: RoleId
            Description:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            DesignToolOnly: true
            Documentation: Documentation
            AccessRestrictions: 4280270440
            Definition:
              IsUnion: true
              Fields:
              - ValueRank: 6
                MaxStringLength: 8
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                AllowSubTypes: true
                Value: 9
                ArrayDimensions: ArrayDimensions
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DataType: DataType
                IsOptional: true
                SymbolicName: SymbolicName
                Name: Name
              - ValueRank: 6
                MaxStringLength: 8
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                AllowSubTypes: true
                Value: 9
                ArrayDimensions: ArrayDimensions
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DataType: DataType
                IsOptional: true
                SymbolicName: SymbolicName
                Name: Name
              IsOptionSet: true
              SymbolicName: SymbolicName
              Name: Name
            Purpose: Normal
            SymbolicName: SymbolicName
            WriteMask: 2158223124
            NodeClass: null
            HasNoPermissions: true
            References:
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            - ReferenceTypeId: ReferenceTypeId
              IsForward: true
              TargetId: TargetId
            BrowseName: BrowseName
            NodeId: NodeId
            DisplayName:
              r:
              - - r
                - r
              - - r
                - r
              t:
              - - t
                - t
              - - t
                - t
            ReleaseStatus: null
            Children:
              Variables:
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              - RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                AccessRestrictions: 3172383940
                SymbolicName: SymbolicName
                WriteMask: 1780525091
                ValueRank: 1
                NodeClass: null
                MinimumSamplingInterval: 7.457744773683766
                HasNoPermissions: true
                BrowseName: BrowseName
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ArrayDimensions: ArrayDimensions
                Historizing: true
                ReleaseStatus: null
                DataType: DataType
                Children: null
                IsAbstract: true
                ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                Documentation: Documentation
                AccessLevel: 2940700841
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                NodeId: NodeId
                Value:
                  Value: ""
                  Dimensions:
                  - 0
                  - 0
                  UaType: 31
                ModellingRuleId: ModellingRuleId
              Objects:
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                ReleaseStatus: null
                Children: null
                ModellingRuleId: ModellingRuleId
                IsAbstract: true
              - ParentId: ParentId
                ConformationUnits:
                - ConformationUnits
                - ConformationUnits
                TypeId: TypeId
                RolePermissions:
                - Permissions: 2588772718
                  RoleId: RoleId
                - Permissions: 2588772718
                  RoleId: RoleId
                Description:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
                  - - t
                    - t
                DesignToolOnly: true
                Documentation: Documentation
                AccessRestrictions: 1553093137
                SymbolicName: SymbolicName
                WriteMask: 3994939883
                NodeClass: null
                HasNoPermissions: true
                References:
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                - ReferenceTypeId: ReferenceTypeId
                  IsForward: true
                  TargetId: TargetId
                BrowseName: BrowseName
                EventNotifier: 51
                NodeId: NodeId
                DisplayName:
                  r:
                  - - r
                    - r
                  - - r
                    - r
                  t:
                  - - t
                    - t
[...]
